.title {
  font-family: var(--font-family-primary);
  color: var(--color-secondary);
  font-weight: bold;
  margin-top: var(--spacing-15);
  margin-bottom: var(--spacing-10);
  padding: 0 20px;
  box-sizing: border-box;
}

.desc {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: normal;
  color: var(--color-text-muted);
  margin-top: var(--spacing-15);
  margin-bottom: var(--spacing-0);
  padding: 0 20px;
}

.desc.black {
  color: var(--color-text);
}

.content {
  width: 100%;
  display: flex;
  height: 40%;
  flex-direction: column;
  align-items: start;
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-15);
}

.image {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  display: block;
  object-fit: cover;
  margin-top: var(--spacing-10);
}

.imageWrapper {
  padding: 0 20px;
}