.search_form {
  width: 100%;
  height: 2.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-input);
  color: var(--color-bg-accent);
  border-radius: 25px;
}

.search_icon {
  fill: var(--color-placeholder);
  width: auto;
  padding-right: 10px;
}

.search_input {
  width: 80%;
  height: 100%;
  font-size: var(--p-size);
  font-family: var(--font-family-base);
  background-color: var(--color-input);
  color: var(--color-placeholder);
  border: none;
  border-radius: 25px;
  padding: 0px 15px 4px 15px;
}

.search_input::placeholder {
  color: var(--color-bg-accent);
}

.search_input:focus {
  outline: none;
  color: var(--color-input-focus);
}