@import "./variables/colors";
@import "./variables/keyframes";
@import "./variables/spacing";
@import "./variables/transitions";
@import "./variables/typography";
@import "./variables/others";
@import "./themes.css";

/* globals.css */

body {
  border: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  transition: background-color var(--transition-medium),
    color var(--transition-medium);
}

button {
  border: none;
  background-color: transparent;
  border-radius: 25px;
}

h1 {
  font-size: var(--h1-size);
  color: var(--color-secondary);
  box-sizing: border-box;
}

h2 {
  font-size: var(--h2-size);
  color: var(--color-primary);
}

p {
  font-size: var(--p-size);
  color: var(--color-text);
  text-align: justify;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.svg1 {
  fill: var(--color-primary);
}

.svg2 {
  fill: var(--color-secondary);
}

[size="mb"] {
  #layout-desktop {
    padding: 25%;
    background-image: url("../assets/images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #inner-desktop {
    display: none;
  }
}

/* Estilos para tablets */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  #inner {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #inner-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

/* Estilos para desktops */
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  #layout {
    padding: 25%;
    background-image: url("../assets/images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #inner {
    display: none;
  }
}

button.primary {
  background: var(--color-primary);
}

button.secondary {
  background: var(--color-secondary);
}

button.success {
  background: var(--color-success);
}

button.danger {
  background: var(--color-danger);
}

button.warning {
  background: var(--color-warning);
}

.msg {
  align-self: center;
  font-size: var(--p-size);
  font-family: var(--font-family-base);
  color: var(--color-success);
  font-weight: bold;
  margin-top: var(--spacing-15);
}

.msg.error {
  color: var(--color-error);
}

.msg.warning {
  color: var(--color-secondary);
}

.msg.info {
  color: var(--color-text-gray);
}

/* Classe utilitária para esconder texto visualmente, mas manter acessível */
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}