@import "./variables/colors";
@import "./variables/keyframes";
@import "./variables/spacing";
@import "./variables/transitions";
@import "./variables/typography";
@import "./themes.css";

/* globals.css */

body {
  border: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  transition: background-color var(--transition-medium),
    color var(--transition-medium);
}

button {
  border: none;
  background-color: transparent;
}

h1 {
  font-size: var(--h1-size);
  color: var(--color-secondary);
}

h2 {
  font-size: var(--h2-size);
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

p {
  font-size: var(--font-size);
}

.svg1 {
  fill: var(--color-primary);
}

.svg2 {
  fill: var(--color-secondary);
}

/* Estilos para tablets */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  body {
    font-size: 18px;
    padding: 20px;
  }
}

/* Estilos para desktops */
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  body {
    background-image: url("../assets/images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #root {
    display: none;
  }
}


