/* variables.css */

:root {
  /* Tamanhos */
  --font-size: 15px; /* Base */
  --font-mb-size-sm: 16px; /* Mobile */
  --font-mb-size-md: 18px;
  --font-mb-size-lg: 22px;
  --font-dk-size-sm: 16px; /* Desktop */
  --font-dk-size-md: 24px;
  --font-dk-size-lg: 36px;
  --width-container: 100%;
  --width-container-sm: 10vw;
  --width-container-md: 50vw;
  --width-container-lg: 100vw;

  --heigth-header: 60px;
  --heigth-footer: 60px;

  /* Pesos */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Espaçamentos */
  --spacing: 1rem;
  --spacing-sm: 0.66rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.8rem;

  /* Cores - DF */
  --color-bg-df: #fffefc; /* Branco */
  --color-text-df: #1c1b1f; /* Preto */
  --color-primary-df: #0062a2; /* Azul */
  --color-secondary-df: #a57c52; /* Marrom */
  --color-bg-muted-df: #a7bdb8; /* Azul / Cinza */
  --color-text-muted-df: #707070; /* Cinza Escuro */
  --color-error-df: #ff6347; /* Tomate */

  /* Cores - Tema Claro */
  --color-bg-light: #c0b79f;
  --color-text-light: #000000;
  --color-primary-light: #6200ee;
  --color-secondary-light: #03dac6;
  --color-bg-muted-light: #ff1df4; /* Azul / Cinza */
  --color-text-muted-ligth: #707070; /* Cinza Escuro */
  --color-error-ligth: #ff6347; /* Tomate */

  /* Cores - Tema Escuro */
  --color-bg-dark: #333333;
  --color-text-dark: #ffffff;
  --color-primary-dark: #bb86fc;
  --color-secondary-dark: #03dac6;
  --color-bg-muted-dark: #e0ff30; /* Azul / Cinza */
  --color-text-muted-dark: #707070; /* Cinza Escuro */
  --color-error-dark: #ff6347; /* Tomate */

  /* Fontes */
  --font-family-base: "Lato", sans-serif;
  --font-family-primary: "Source Serif 4", serif;
  --font-family-secondary: "Source Sans 3", sans-serif;

  /* Animações */
  --transition-fast: 0.2s ease-in-out;
  --transition-medium: 0.5s ease-in-out;
  --transition-slow: 0.8s ease-in-out;
}

[data-theme="default"] {
  --color-bg: var(--color-bg-df);
  --color-text: var(--color-text-df);
  --color-primary: var(--color-primary-df);
  --color-secondary: var(--color-secondary-df);
  --color-bg-muted: var(--color-bg-muted-df); /* Azul / Cinza */
  --color-text-muted: var(--color-text-muted-df); /* Cinza Escuro */
  --color-error: var(--color-error-df); /* Tomate */
}

[data-theme="light"] {
  --color-bg: var(--color-bg-light);
  --color-text: var(--color-text-light);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-bg-muted: var(--color-bg-muted-light); /* Azul / Cinza */
  --color-text-muted: var(--color-text-muted-light); /* Cinza Escuro */
  --color-error: var(--color-error-light); /* Tomate */
}
[data-theme="dark"] {
  --color-bg: var(--color-bg-dark);
  --color-text: var(--color-text-dark);
  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-bg-muted: var(--color-bg-muted-dark); /* Azul / Cinza */
  --color-text-muted: var(--color-text-muted-dark); /* Cinza Escuro */
  --color-error: var(--color-error-dark); /* Tomate */
}
