.body {
  background-color: var(--color-bg);
  border: solid 1px var(--color-primary);
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100%;
  gap: var(--spacing-10);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.buttons {
  margin-top: calc(var(--spacing-25) + var(--spacing-15));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-10);
}

.container {
  animation: fadeIn 0.2s forwards;
  width: 100%;
  height: 100%;
  background-color: rgb(42, 42, 42, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}

.container.hide {
  animation: fadeOut 0.2s forwards;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 20px;
  gap: var(--spacing-10);
}

.item {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-10);
}

.p {
  margin-top: var(--spacing-10);
  font-size: var(--p-size);
  font-family: var(--font-family-base);
  color: var(--color-primary);
  font-weight: 800;
}

.suspense {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: end;
}

.nav {
  width: 100%;
  margin-top: calc(var(--spacing-15) + var(--spacing-5));
  margin-bottom: calc(var(--spacing-15) + var(--spacing-5));
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-10);
}

.close {
  margin: 0;
  padding: 10px;
}

.suspense_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-10);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: var(--spacing-15);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
    display: none;
  }
}

.suspense_items {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 15px;
  margin-left: 42px;
  gap: var(--spacing-15);
  /* color: #598bab; */
}

.background {
  background-color: rgb(42, 42, 42, 0.6);
}

.suspense_items a {
  text-decoration: none;
  font-size: var(--p-size);
  font-family: var(--font-family-base);
  color: var(--color-primary);
  font-weight: regular;
}

.body {
  animation: slideIn 0.5s forwards;
}

.body.hide {
  animation: slideOut 0.5s forwards;
}

.suspense_items {
  animation: fadeIn 0.6s forwards;
  animation-fill-mode: forwards;
}

.suspense_items.hide {
  animation: fadeOut 0.2s forwards;
}