.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3c3c3c;
  border: 1px solid #fff;
  padding: 1em;
}

.card-link {
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-link:hover {
  transition: 0.3s;
  opacity: 90%;
  background-color: #fff;
}

.card-img {
  width: 10em;
  justify-self: center;
}

.card-body {
  padding: 2px 16px;
}

.card-title {
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.card-text {
  color: #3c3c3c;
}
