.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0 20px;
  gap: 1em;
  margin-top: 1em;
  width: 100%;
}

.nav_itens {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.item_link {
  display: flex;
  align-self: center;
}

.search-form {
  position: relative;
  width: 20%;
}

.search-form svg {
  position: absolute;
  top: 10px;
  left: 9px;
}

.search-form input {
  padding-left: 2.5em;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 0;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 1em;
}

.nav-links span {
  cursor: pointer;
}

.nav-links svg {
  font-size: 1.5em;
}
